<template>
  <div id="wrapper" class="row wrapper">
    <div class="container-min-full-height d-flex justify-content-center align-items-center">
      <div class="login-center">
        <div class="navbar-header text-center mt-2 mb-4">
          <a href="index.html">
            <img alt="" src="~/assets/img/logo-light.png">
          </a>
        </div>
        <nuxt/>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    components: {},
    head: {
      bodyAttrs: {
        class: 'body-bg-full profile-page pace-done auth-bg'
      }
    }
  }
</script>

<style>
.auth-bg {
  background-image: url(~assets/img/auth-bg.jpg)
}
</style>
