<template>
  <div id="wrapper" class="wrapper">
    <loading :active.sync="$store.state.loading" 
        :can-cancel="false"
        :is-full-page="true" loader="dots" color="#3333cc">
    </loading>
    <NavBar/>
    <div class="content-wrapper">
      <main class="main-wrapper">
        <nuxt/>
      </main>
    </div>
  </div>
</template>

<script>
  import Loading from 'vue-loading-overlay'
  import 'vue-loading-overlay/dist/vue-loading.css'

  import NavBar from '~/components/NavBar.vue'

  export default {
    components: {
      NavBar,
      Loading
    },
    head: {
      bodyAttrs: {
        class: 'sidebar-horizontal pace-done'
      },
      titleTemplate: 'LightOJ - %s'
    }
  }
</script>

<style>
</style>
