<template lang="pug">
  .wrapper
    .content-wrapper
      nuxt/
</template>
<script>
  export default {
    head: {
      bodyAttrs: {
        class: 'body-bg-full error-page error-404 error-bg'
      }
    }
  }
</script>

<style>
.error-bg {
  background-image: url(~assets/img/error-bg.jpg)
}
</style>
